/*
    ---------------
    --- Home.css --
    ---------------
*/

/*--- --- */
    .Home-image{
        width: 95%;
        height: 250px;
        border: 1px solid #000;
        border-radius: 5px;
        margin: auto;
        margin-top: 15px;
    }

    .Home-packages{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .Home-packages-item{
        width: 30%;
        height: 200px;
        border: 1px solid #000;
        border-radius: 5px;
        margin: auto;
        margin-top: 15px;
        margin: 5px;
    }

/* --- --- */
    